@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AutoOption</h1>
    <p>A simple library to generate option page for websites. <a href="https://github.com/sasan-salem/AutoOption">See source on Github</a>.</p>
</div>
